.main {
  margin: 0;
  padding: 60px 0px 50px 0px;
  .Carusel{
    .imagecdn {
      background-size: cover;
      background-position: center;
      height: 70vh;
      width: 91vw;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 100px;
      .maintext {
        display: flex;
        flex-direction: column;
        align-items: center;
        .mainheadtext {
          font-size: 30px;
          color: white;
        }
        .mainabouttext {
          font-size: 15px;
          text-align: center;
          width: 65vw;
          color: white;
        }
        .buttons {
          display: flex;
          align-items: center;
          gap: 10px;
          .btn1 {
            cursor: pointer;
            padding: 5px;
            background-color: red;
            color: white !important;
            display: flex;
            align-items: center;
          }
          .btn2 {
            cursor: pointer;
            padding: 5px;
            background-color: black;
            color: white;
          }
          .btn3 {
            cursor: pointer;
            padding: 5px;
            background-color: black;
            color: white;
          }
          .btn4 {
            cursor: pointer;
            padding: 5px;
            background-color: black;
            color: white;
          }
        }
      }
  
    }
  }
  .video-container {
    // position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .video {
      position: relative;
      width: 100%;
      height: 80vh;
      object-fit: cover;
      transition: opacity 0.5s ease;
      opacity: 0;
      .controls {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .play-pause-btn {
          background-color: #3498db;
          color: #fff;
          border: none;
          padding: 10px 20px;
          margin-right: 10px;
          cursor: pointer;
        }
        
        input[type="range"] {
          width: 100px;
          margin-left: 10px;
        }
      }
      
    }
    
    .video.playing {
      opacity: 1;
      .controls {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .play-pause-btn {
          background-color: #3498db;
          color: #fff;
          border: none;
          padding: 10px 20px;
          margin-right: 10px;
          cursor: pointer;
        }
        
        input[type="range"] {
          width: 100px;
          margin-left: 10px;
        }
      }
    }
  }
  
  
}
