.Movies{
    border: 1px solid rgb(70, 69, 69);
    position: relative;
    .headtext{
        background-color: red;
        color: white;
        padding: 5px;
        width: 60px;
        height: 20px;
        text-align: center;
        position: absolute; 
        top: 0%;
        left: 5%;
        transform: translate(-50%, -50%); 
    }
    .OurGenres{
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        .mainhead{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .mainheadtext{
                font-size: 30px;
            }
        }
        .mainheadend{
            display: flex;
            background-color: rgb(48, 48, 48);
            padding: 8px;
            gap: 10px;
            .backicon , .fowardicon{
                cursor: pointer;
            }
        }
        .cards{
            padding-top: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            .card{
                background-color: rgb(35, 35, 35);
                border: 1px solid gray;
                border-radius: 10px;
                padding: 20px;
                box-sizing: border-box;
                .cardimageside{
                    border-radius: 10px;
                    .cardimage{
                        border-radius: 10px;
                    }
                }
                .cardtextside{
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}